
.callout {
    background-image: url(https://www.cgsociety.org/cgsarchive/newgallerycrits/g19/252219/252219_1233111050_large.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    height:550px;
    color:white;
}